
<table class="table">
<tr>
    <th>
        Symbol
    </th>
    <th>
        Name
    </th>
    <th>
       Current Market Price
    </th>
    
</tr>


<tr ng-repeat="stock in stocks">
    <td>
        {{stock.symbol}}
    </td>
    <td>
       {{stock.name}}
    </td>
    <td ng-controller="StockController">
        <span style="color:{{color}}" animate-on-change='cmp'>{{cmp}}</span>&nbsp;
        <!--<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-hide="dataLoaded"></span>-->
    </td>    
</tr>
</table>