@model IEnumerable<Stock>
<div class="jumbotron">
    <h1>Organic Portfolio Tracker</h1>
    <p class="lead">An open source portfolio tracker built by developers for developers.</p>
    <p>
    @*    <a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>*@
    </p>
</div>
@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-4">
            <h2>@item.Symbol</h2>
           </div>
        <div class="col-md-4">
            <h2>@item.Name</h2>
            
        </div>
        <div class="col-md-4">
            <h2>@item.CurrentMarketPrice</h2>
            <p>@item.Currency</p>
            
        </div>
    </div>

}

